body {
    font-family: 'Inter', sans-serif;
    background-color: #f3f4f6;
}

input[type="date"]:in-range::-webkit-datetime-edit-year-field,
input[type="date"]:in-range::-webkit-datetime-edit-month-field,
input[type="date"]:in-range::-webkit-datetime-edit-day-field,
input[type="date"]:in-range::-webkit-datetime-edit-text {
    color: transparent;
}

.sortable {
    cursor: pointer;
    user-select: none;
}

.sortable:hover {
    color: #374151;
}

.sort-icon {
    display: inline-block;
    margin-left: 5px;
    opacity: 0.6;
}

/* Tooltip for comments on hover */
[data-tooltip-text]:hover {
    position: relative;
}

[data-tooltip-text]:hover::after {
    content: attr(data-tooltip-text);
    position: absolute;
    left: 0;
    transform: translateX(0);
    bottom: 100%;
    margin-bottom: 5px;
    z-index: 10;
    background-color: #1f2937;
    /* dark gray */
    color: white;
    padding: 8px 12px;
    border-radius: 6px;
    font-size: 12px;
    white-space: pre-wrap;
    width: max-content;
    max-width: 300px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s;
    opacity: 1;
}

/* Tab Styles */
.tab-btn.active {
    border-bottom-color: #4f46e5;
    /* indigo-600 */
    color: #4f46e5;
    font-weight: 600;
}

/* FullCalendar Customizations */
:root {
    --fc-border-color: #e5e7eb;
    --fc-daygrid-event-dot-width: 8px;
    --fc-list-event-hover-bg-color: #f9fafb;
}

.fc-event {
    cursor: pointer;
}

.fc-day-today {
    background: #f0f3ff !important;
}

.fc-event-main {
    font-size: 0.8rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#calendar.week-view-active .fc-event-main {
    white-space: normal !important;
    word-wrap: break-word;
}

/* Tippy Tooltip Styles */
.tippy-box[data-theme~='light'] {
    background-color: #fff;
    color: #333;
    border: 1px solid #ddd;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
